@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;900&display=swap');

:root {
    --bg-dark: hsl(0, 0%, 0%);
    --text-dark: hsl(141, 76%, 48%);
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    font-family: 'Gabarito', sans-serif;
    text-align: center;
}

main {
    margin: 25vh;
}

h1 {
    font-size: 5.6rem;
}

img {
    width: 250px;
}